/* Headers */

h1{
   font-family: sans-serif, trebuchet MS, tahoma, verdana;
   font-size: 10 px;
   color: white;
   }

h2{
   font-family: sans-serif, tahoma, verdana, arial black;
   font-size: 6 px;
   color: white;
   }
   
h3{
   font-family: sans-serif, tahoma, arial black, arial;
   font-size: 3 px;
   color: white;
   }

/* Body */

body{
     margin: 12px;
     max-width: 60 em;
     padding: 0.5%;
     background-color: #335E99;
     }

img{
   margin: 12px;
     max-width: 60 em;
     padding: 0.5%;
   float: right;
}

nav{
    font-family: sans-serif, arial black, arial;
  line-height: 1.5 em;
   font-size: 1 em;
   color: white; 
}

div{
   font-family: sans-serif, arial black, arial;
  line-height: 1.5 em;
   font-size: 1 em;
   color: white;
   display: grid;
   grid-template-rows: repeat (100%, auto);
   grid-template-columns: repeat (auto, 100%);
   grid-auto-flow: column;
}

a{
  font-family: sans-serif, arial black, arial;
  line-height: 1.5 em;
   font-size: 1 em;
   color: white;
}

p{
  font-family: sans-serif, arial black, arial;
  line-height: 4.5 em;
   font-size: 1 em;
   color: white;
   }
   
/* Break point */

@media(min-width: 45 em)     
     
     
